name: CI

on:
  - push
  - pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: Lint and Test with Node.js ${{ matrix.node }} on ${{ matrix.os }}
    strategy:
      matrix:
        bun:
          - latest
        node:
          - 18
          - 18.18
          - 20
          - 22
          - 23
          - 24
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}
          cache: yarn

      - name: Setup Bun ${{ matrix.bun }}
        uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
        with:
          bun-version: ${{ matrix.bun }}

      - name: Install Dependencies
        run: |
          yarn --immutable
          cd test/fixtures/yarn-pnp
          yarn --immutable
          cd ../bun
          bun i --frozen-lockfile

      - name: Build and Test
        run: |
          yarn build
          yarn test
        env:
          SYNCKIT_TIMEOUT: 10000

      - name: Lint
        run: yarn lint
        # eslint-plugin-unicorn using `with` syntax is not supported
        if: ${{ matrix.node != 18.18 }}
        env:
          PARSER_NO_WATCH: true

      - name: Benchmark
        run: yarn benchmark

      - name: Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Run codacy-coverage-reporter
        # bad Windows -- https://github.com/codacy/codacy-coverage-reporter-action/issues/91
        if: ${{ !github.event.pull_request.head.repo.fork && matrix.os != 'windows-latest' }}
        uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699 # v1.3.0
        continue-on-error: true
        with:
          api-token: ${{ secrets.CODACY_API_TOKEN }}
